

body {
    display: flex;
    justify-content: center;
    background-color: rgba(173, 163, 163, 0.464);
    background-image: url('../assets/paper-1074131_1280.jpg');
}


#header {
    display: flex;
    justify-content: center;
}



#innerbody {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;


}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
    background-image: url('./jake-nackos-C2PCa6DhlYE-unsplash.jpg'); /* Specify the path to your image */
    background-size: cover; /* Scale the image to cover the entire div */
    background-position: center center; /* Center the image horizontally and vertically */
    max-width: 800px; /* Set the maximum width for the innerbody */
    width: 100%; /* Ensure it takes the full available width while staying within max-width */
    height: 80vh; /* Set the height as a percentage of the viewport height */
    text-align: center;
}

#buttons {
    display: flex;
    max-width: 800px; /* Set the maximum width for the innerbody */
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.bttn {
    font-size: 20px;
    background-color: rgba(6, 143, 40, 0);
    border-radius: 8px;
    border-color: gray;
    border: none;
}

.bttn:hover {
    background-color: rgb(6, 143, 40);
}

#footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 10px;
    
}

a {
    color: rgb(10, 10, 10);
}

#signin {
    text-decoration: none; /* Add this to remove underline from links */
    color: inherit; /* Inherit the color from the parent element */
}

#signup {
    text-decoration: none; /* Add this to remove underline from links */
    color: inherit; /* Inherit the color from the parent element */
}

#contact {
    text-decoration: none; /* Add this to remove underline from links */
    color: inherit; /* Inherit the color from the parent element */
}

