

/* #innerbody {
    outline: solid red 3px;
    width: 95%;
    height: 95%;
    position: absolute;
    
    /* display: flex;
    flex-direction: column; */
    
/* } */

/* #header {
    outline: solid rgb(39, 165, 146) 3px;
    /* display: flex;
    align-items: center; */
/* } */ 

/* #content {
    outline: solid rgb(10, 232, 14) 3px;
    width: 80%;
    height: 80%;
    position: relative;
    left: 10%;
    bottom: 10%;
    margin-bottom: 1%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
    /* background-image: url('/jake-nackos-C2PCa6DhlYE-unsplash.jpg');
    background-size: cover; /* Scale the image to cover the entire container */
    /* background-position: center center; /* Center the image */
    /* color: aliceblue; */
    /* word-wrap: break-word; /* Allow text to wrap */
    /* font-size: xx-large; */
/* }  */

/* #buttons {
    position: relative;
    top: 10%;
    
    
} */


/* #footer {
    outline: solid rgb(73, 20, 196) 3px;
    display: flex;
    justify-content: center;
} */

/* img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    
/* } */ 
body {
    display: flex;
    justify-content: center;
    background-color: rgba(173, 163, 163, 0.464)
}


#header {
    display: flex;
    justify-content: center;
}



#innerbody {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;


}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
    background-image: url('./jake-nackos-C2PCa6DhlYE-unsplash.jpg'); /* Specify the path to your image */
    background-size: cover; /* Scale the image to cover the entire div */
    background-position: center center; /* Center the image horizontally and vertically */
    max-width: 800px; /* Set the maximum width for the innerbody */
    width: 100%; /* Ensure it takes the full available width while staying within max-width */
    height: 80vh; /* Set the height as a percentage of the viewport height */
    text-align: center;
}

#buttons {
    display: flex;
    max-width: 800px; /* Set the maximum width for the innerbody */
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bttn {
    font-size: 20px;
    background-color: rgba(6, 143, 40, 0);
    border-radius: 8px;
    border-color: gray;
    border: none;
}

.bttn:hover {
    background-color: rgb(6, 143, 40);
}

#footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 10px;
}

a {
    color: rgb(10, 10, 10);
}

